[Desktop Entry]
Version=1.0
Type=Application
Name=kitty
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
Exec={{ kitty_dir }}/bin/kitty
Icon={{ kitty_dir }}/share/icons/hicolor/256x256/apps/kitty.png
Categories=System;TerminalEmulator;
