[Desktop Entry]
Version=1.0
Type=Application
Name=firefox
Comment=Browser
Exec={{ firefox_dir }}/firefox
Icon={{ firefox_dir }}/browser/chrome/icons/default/default64.png
Terminal=false
StartupNotify=false
